[2017-05-18 06:14] Lange opened #3 "Fix images being flipped in button-fills example"
https://github.com/Lange/node-elgato-stream-deck/blob/master/examples/button-fills.js

Turns out that the Stream Deck writes button images BGR, right to left, top to bottom. This means that all images we send to buttons are horizontally flipped. We'll need to correct for this.

[2017-05-18 06:19] Lange commented on #3
To fix this, I think we have to split the arrays of pixels into rows (each row is 72px) and reverse each row individually.

[2017-05-18 06:35] #3 closed

[2017-05-18 17:17] Lange opened #5 "Fix Travis builds"
For some reason, [`sharp`](https://www.npmjs.com/package/sharp) isn't compiling on Travis, and this is causing builds to fail.

Link to failed build log: https://travis-ci.org/Lange/node-elgato-stream-deck/builds/233686568

[2017-05-18 17:18] Lange opened #6 "Support adding text labels to buttons"
The official Elgato Stream Deck software renders text by just baking it into the bitmap that it sends. We'll need to replicate this behavior.

[2017-05-18 17:20] Lange commented on #6
[`node-canvas`](https://github.com/Automattic/node-canvas) might be a good lib to use for this. A cursory search did not reveal any viable alternatives.

[2017-05-18 17:23] ProbablePrime opened #7 "node-hid calls sometimes hang"
A call to `HID.devices()` or `new HID.HID(..)` is sometimes extremely slow.

My machine relies on a lot of USB devices here so I may test on a laptop with it being the only usb device.

This would be potentially problematic for streaming computers that also tend to be heavy on USB devices.

[2017-05-18 17:24] Lange commented on #6
[`gm`](https://www.npmjs.com/package/gm) seems to suffer from the same problems as node-canvas, in that it requires the user to install third-party apps separately.

[`node-gd`](https://www.npmjs.com/package/node-gd) does not work on Windows.

[2017-05-18 17:35] ProbablePrime commented on #7
[code]

Sometimes has more luck finding it faster **but** this is still slow.

I have a ton of peripherals including audio running over USB so i'm tempted to blame this. Moving it onto / off a USB hub had no effect.

[2017-05-18 17:37] ProbablePrime commented on #6
We could potentially add full drawing capabilities. Or some templates too. The twitch viewer number from the original software was interesting.

[2017-05-18 17:38] ProbablePrime opened #8 "Typescript typings"
I develop in typescript a lot these days. We can add a typings file to this repo that doesn't interfere with the code but allows those who use typescript to take advantage of it.

[2017-05-18 18:49] Lange opened #9 "Key combinations"
Being able to register a callback for when an arbitrary combination of keys is pressed would be useful. Here's an example of what an API for this _might_ look like (feedback welcome):
[code]

[2017-05-18 18:53] Lange commented on #8
:+1: added this to the [planned features](https://github.com/Lange/node-elgato-stream-deck#planned-features) section

[2017-05-18 19:07] Lange opened #10 "WebUSB (browser) support"
The WebUSB spec is currently being drafted, but is available as an Origin Trial in Chrome 54+.
* [Chrome Status Page](https://www.chromestatus.com/feature/5651917954875392), which links to documentation
* [Origin Trial sign-up form](https://docs.google.com/forms/d/e/1FAIpQLSfO0_ptFl8r8G0UFhT0xhV17eabG-erUWBDiKSRDTqEZ_9ULQ/viewform)

With WebUSB, we could make an app that requires no installation a

[2017-05-18 19:10] Lange commented on #10
An upshot of using WebUSB and running this code in a browser is that we get full access to the `canvas` API, which solves #6.

[2017-05-18 21:09] Lange opened #11 "Allow changing standby image"
When the official Elgato Stream Deck software is closed, the device shows a standby image of the Elgato logo. Turns out that this can indeed be changed, we just need to figure out how.

[![image](https://cloud.githubusercontent.com/assets/873012/26223553/376d683a-3be4-11e7-81ce-99bfd422490b.png)](https://twitter.com/MEx3M_/status/865225288141164544)

[2017-05-18 22:02] ProbablePrime opened #12 "JSDoc"
The Readme documentation is great but we should also JSDoc the code.

[2017-05-18 22:07] #8 closed

[2017-05-19 01:28] Lange opened #14 "Support runtime connection and disconnection of Stream Decks (hotplugging)"
Right now, this library throws an error on startup if you don't have a Stream Deck connected. Likewise, if you disconnect and reconnect your Stream Deck, you must restart the library.

This is pretty bad. We should add support for automatically detecting when a Stream Deck is connected.

[2017-05-19 03:27] danieltian commented on #6
I found this, though I haven't tested it to see how well it works:

https://www.npmjs.com/package/pureimage

Only JS dependencies, no external deps.

[2017-05-19 03:32] Lange commented on #6
Oooh awesome find @danieltian! I think that `pureimage` is our best choice as of right now.

[2017-05-19 05:23] Lange commented on #6
I've tried out `pureimage` and I was indeed able to get it working. However, it's not really that great at drawing text yet, but it's better than nothing.

![img_20170519_001358](https://cloud.githubusercontent.com/assets/873012/26234271/19ef2efc-3c29-11e7-854c-1346ec06fbdf.jpg)

I have committed the code that generated this to [`examples/text-generation.js`](https://github.com/Lange/node-elgato-s

[2017-05-19 07:02] danieltian commented on #6
Nice! It looks awesome! That should be good enough for now, I suspect that most people would be using bitmaps anyhow with on-the-fly text rendering as a niche case. Perhaps the feature can be expanded out in the future to allow for on-the-fly drawing of basic shapes, including text.

[2017-05-19 09:12] farfabet commented on #14
I made a fix proposal but cannot test it as I don't own a stream deck, let me know if you want me to request a pull :
https://github.com/farfabet/node-elgato-stream-deck/commit/16c2d71414e2f634f2ec1bba3195dca9cf6bd664

[2017-05-19 10:07] ProbablePrime commented on #12
I can grab this today :)

[2017-05-19 13:24] ProbablePrime commented on #7
Try running and quitting any of the example files quickly. We might need to detect process exits and call `.close()` on the device

[2017-05-19 13:27] ProbablePrime commented on #7
Could it have a limited number of handles that aren't being closed correctly?

[2017-05-19 16:22] Lange opened #17 "Implement release script with `standard-version`"
Right now I'm generating  the CHANGELOG and pushing releases by hand. To avoid inconsistencies, this should be automated with [`standard-version`](https://www.npmjs.com/package/standard-version).

The structure of this project is directly inspired by [`cacache`](https://github.com/zkat/cacache), which I found to have a really nice structure. Here's how [`cacache`'s `release` script](https://github

[2017-05-19 17:15] Lange commented on #14
Thanks @farfabet!

We want to try to avoid polling-based systems because of the performance impacts and the potential for issues to arise. For example, I've had cases where frequently enumerating the list of USB devices on Windows can cause USB audio devices to crackle.

[`node-usb-detection`](https://github.com/MadLittleMods/node-usb-detection) seems like it might be just what we need. It could h

[2017-05-19 17:29] Lange opened #18 "Tests"
We're are the point where we can start writing tests. The next release (`1.2.0`) should have tests of some kind. By `1.3.0`, we should strive to have 100% test coverage.

We'll use [`ava`](https://github.com/avajs/ava) as the test runner and [`nyc`](https://github.com/istanbuljs/nyc) for coverage, with reporting to [Coveralls](https://coveralls.io/).

[2017-05-19 18:04] ProbablePrime commented on #18
If you can bootstrap the test setup, i can get these done.

[2017-05-19 19:02] Lange commented on #18
Kk, first test added: https://github.com/Lange/node-elgato-stream-deck/pull/19

[2017-05-19 19:05] ProbablePrime commented on #18
hmm, mockery is new to me i usually use sinon. I'll take a look.

[2017-05-19 19:08] Lange commented on #18
This uses both mockery and sinon. Mockery is just used to detour the call to require `node-hid` entirely, which lets us then feed in our own sinon spies/stubs/mocks.

[2017-05-19 19:12] ProbablePrime commented on #18
Ahh, i see

[2017-05-19 19:42] farfabet commented on #14
I totally understand, I searched for such solution in `node-hid` and went with polling by default. Anyway I'm really interested in what you did with `nodecg `and will keep an eye on this project to. :)

[2017-05-19 21:34] ProbablePrime opened #21 "Properly close the device on a process exit"
When the Stream Deck software closes it sends some data to the device. This looks like a normal close operations. We should also do this to ensure that active handles are closed.

This also re-displays the standby image which when #11 is added would make for an easy "its connected" indicator.

This may fix #7 too.

[2017-05-19 23:28] ProbablePrime opened #22 "Create .npmignore"
We should exclude our fixtures and other junk from the npm release to drop file size

[2017-05-19 23:38] Lange commented on #22
It should be possible to do this just via the `files` field in package.json.

[2017-05-20 02:06] Lange commented on #5
Fixed in #19.

[2017-05-20 02:06] #5 closed

[2017-05-20 02:14] Lange commented on #22
Going to close this for now because I'm 99% sure that our exiting `files` field already ensures we're uploading the minimal set of files.

[2017-05-20 02:14] #22 closed

[2017-05-20 03:00] Lange opened #25 "Should we adopt a type system?"
I've never used a JavaScript type system and I kind of want to use this project as an excuse to do so. The codebase is small, it'll be easy.

Our options are [TypeScript](https://www.typescriptlang.org/) or [Flow](https://flow.org/). I'm personally leaning towards Flow. It seems better at catching programmer errors by default. And, selfishly, I want to evaluate Flow's usage for NodeCG where I don'

[2017-05-20 03:03] Lange commented on #25
Another strong plus for Flow is the amazing [`flow-jsdoc`](https://github.com/Kegsay/flow-jsdoc). This would let us get full type checking more or less for free, without cluttering up our code. We're going to have JSDoc comments either way (and we already do thanks to #24!), may as well make them work for us.

[2017-05-20 03:08] ProbablePrime commented on #25
I'm bias:
- Have you seen http://typedoc.org/ ?
- Typescript is great at catching programming errors.
- The default config file lets a lot of errors through but: https://github.com/ProbablePrime/typescript-boilerplate/blob/master/tsconfig.json is just about the strictest i've seen.
- All of this Plus TSLint and we get everything we dont have.

[2017-05-20 03:12] ProbablePrime commented on #22
Yep you're right, run npm pack and check the tarbell :)

[2017-05-20 03:15] Lange commented on #22
Ahh okay, yeah I was trying to figure out how to check that haha.

[2017-05-20 03:19] ProbablePrime commented on #25
I also don't like the compile setup here: https://flow.org/en/docs/install/

`tsc` from typescript compiles directly all the way down to ES3

[2017-05-20 03:42] Lange commented on #25
Kk, I suppose I'm sold. It does make sense that we should use the tool that at least one of us knows.

Would you be willing to set up the configuration and boilerplate for Typescript and then let me take a crack at implementing it? I'd like to learn it so that I may experiment with it in NodeCG. Thanks!

[2017-05-20 11:10] danieltian commented on #25
Just throwing in my 2 cents, I'm not a big fan of typed Javascript for the following reasons:

1. They all have to transpile down to plain Javascript anyway. This doesn't matter so much when you're using TypeScript in your own project, but it matters a lot when you're using a npm module that uses TypeScript, because the consumer of your project now has to deal with transpiled code.

2. There are a

[2017-05-20 16:49] ProbablePrime commented on #25
For typescript:
De-serializing JSON is quite easy, Ultimately you can just use `any` or something like  [IJSON](https://github.com/WatchBeam/bORM/blob/37ae1aeaa13ab684e294086cc235ec377d9e8f80/src/Types.ts#L604)

Its a lot better usually to use interfaces though as you can document every property at which point you get self documenting code.

[2017-05-20 16:53] ProbablePrime commented on #25
Probably best to try and tackle this after: #27

[2017-05-20 17:27] #12 closed

[2017-05-20 20:59] ProbablePrime commented on #9
Woops accidental assignment

[2017-05-20 23:16] Lange commented on #17
Oh actually, I think I was confusing `standard-version` with [`semantic-release`](https://github.com/semantic-release/semantic-release) but both look good and should be evaluted.

[2017-05-23 23:10] paul-lrr commented on #6
I was messing around with the *sharp* library that you are already using for `fillImageFromFile` and noticed that it can composite SVG files as well as the bitmap graphics. By doing something like
[code]
You can create an SVG document and overlay it on an existing *sharp* image. The nice thing is that you automatically get all the fonts, colors, styling, etc that you can do in regular SVG files. I

[2017-05-23 23:12] Lange commented on #6
Of course! That's brilliant @paul-lrr! We should absolutely take that route.

[2017-05-24 04:35] paul-lrr commented on #6
So I wrinkle that I have encountered with the SVG plan is that, since you can't easily parse a real SVG document in node (without a browser to render it), anything fancy you want to do, like text wrapping or custom fonts, is difficult.  I think I have a solution for text wrapping by using *[opentype.js](https://github.com/nodebox/opentype.js/)* to measure the text directly to set the line breaks,

[2017-05-24 10:45] Lange commented on #6
The existing Elgato software doesn't seem to support line breaks either, so
I'd be okay with that limitation. I'd view line breaks as an awesome extra
feature.

Likewise for fonts -- the Elgato software just supports the one default
font. Us supporting multiple fonts would be going above and beyond.

On Wed, May 24, 2017, 12:09 AM Paul Saunders <notifications@github.com>
wrote:

[2017-05-24 20:14] Lange commented on #10
Chrome has announced intent to ship WebUSB! It's closer than I thought: https://groups.google.com/a/chromium.org/forum/#!topic/blink-dev/KuXx_k2KIis

[2017-05-26 18:12] numri opened #29 "Color issue fillImage"
Hi guys!

The streamdecks display seem to output BGR, not RGB, to amend this i threw around the colors in the buffer like below, not sure if it was the best way about it, but it works:

[code]

[2017-05-26 18:20] Lange commented on #29
Hi @numri!

You are correct that the stream deck does indeed use BGR and not RGB. However, our code already accounts for this: [index.js#L147](https://github.com/Lange/node-elgato-stream-deck/blob/master/index.js#L147)

I've just double checked our code by running [`examples/fill-button-when-pressed.js`](https://github.com/Lange/node-elgato-stream-deck/blob/master/examples/fill-button-when-pressed

[2017-05-26 18:22] Lange commented on #29
Actually, scratch that. You're right! That's what I get for testing this with a black and white image haha. I just tried it out with a color image and we do indeed have an error. We'll work on it shortly.

[2017-05-26 18:27] numri commented on #29
Sorry, I'm new to github so I must have missed that example, i tried the one on the "main page"..  Glad to contribute! 👍

[2017-05-26 18:34] #29 closed

[2017-05-26 18:35] Lange commented on #29
This should be fixed now. Thanks for the heads up!

[2017-06-07 22:47] Lange commented on #25
This is an interesting blog post on the topic: https://medium.com/the-thinkmill/adopting-flow-typescript-3549a3a36d51

[2017-06-08 01:32] ProbablePrime commented on #25
I think that article misses a point.

Flow only requires us to type the exports of a file and the external modules. Everything else can be inferred.

This is a bad idea, one of the points of using typescript is to get code that works and lets you sleep both internally and externally.

Developers can't use internal modules and values incorrectly and their code self documents itself as they write it

[2017-06-23 13:23] ProbablePrime opened #31 "Use Prettier for automatic code formatting"
[Prettier](https://github.com/prettier/prettier) transforms your code into AST and then re-prints that back out. This avoids all linting issues.

When using it combined with #17 this repo will end up automatically managing itself.

[2017-06-23 19:32] ProbablePrime opened #32 "Disable ava diff engine on large test comparisons"
Diffing two 8k length arrays kills ava's diff reporter.

We should display a custom message instead.

[2017-07-02 02:01] redwyre commented on #11
It seems that you can do this by just not resetting the screen to the logo when you exit

[2017-07-02 02:03] redwyre commented on #21
To show the logo send feature data 0x0B, 0x63 (padded out to 17 bytes)

[2017-09-16 11:02] rolypolyman opened #33 "No executable, possible errors with project file"
I was gifted a Stream Deck and I have Windows 7.  Surprise, surprise, no support from the manufacturer for anything less than Windows 10.  One of the forums online suggested this as a solution.  However I am new to node.js and GitHub, and I am not understanding from the project description how this is supposed to work..

I did successfully install Node.js and npm, and installed windows-build-tools

[2017-09-16 11:16] Lange commented on #33
Hi @rolypolyman,

It seems you may have misunderstood the purpose of this library and how Node.js and npm work in general.

`node-elgato-stream-deck` is not an application. It's not a program you run that gives you an alternate UI for interacting with the Stream Deck. It's a library that developers can use to _make_ custom applications that interact with the Stream Deck.

[2017-09-16 11:16] #33 closed

[2017-11-09 10:58] derchrisuk opened #34 "Running inside Docker container"
Hi,

I setup a Docker container, have the USB device passed into the container.
Here is a lsusb:

[code]

When I try to run one of the examples to access the Stream Deck, I get the following error:

[code]

Any idea what could be the problem here?
Some search results with the same error mentioned some user permission problems, and either a udev rule or running as root should help.

But I'm already

[2017-11-09 15:11] Lange commented on #34
Hi @derchrisuk!

That's an interesting issue. I have not personally attempted to use this module (nor any code which uses HID) in a Docker container before. I'm afraid that I'm unsure how to help here. 😕

[2017-11-23 16:37] Lange opened #35 "Consider returning the StreamDeck class, rather than an automatically-constructed instance of it"
The time has finally come for me to use this library in a real project, and I'm immediately seeing a fairly substantial flaw in the current release.

Our current code tries to be helpful by automatically finding the first connected Stream Deck and constructing an instance of the `StreamDeck` class around it. However, this completely prevents consumers of this package from ever implementing their o

[2017-11-23 16:38] Lange commented on #35
@ProbablePrime Whoops, didn't mean to assign you! I did however, mean to ping you so that you could offer your input.

[2017-11-23 16:48] Lange commented on #25
After giving this some space, I'm okay with using TypeScript. I'd be happy to accept a PR which converts this to a TS package.

[2017-11-23 19:03] ProbablePrime commented on #35
This does make sense yes. We could potentially write things in such a way that node-hid could be swapped out this way too.

The streamdeck class could take an interface that just has read, write and whatever else we need.

On the documentation front we'd absoloutely need an example on a simple use case of one streamdeck etc.

Sounds great!

[2017-11-23 19:05] ProbablePrime commented on #35
A lot of this already happened in: https://github.com/Lange/node-elgato-stream-deck/pull/28

I merged this into a branch as the author and I couldn't figure out why the tests on this branch fail. It was on my todo list to look into fixing and then to re-PR that branch into master.

We should evaluate if that branch still has value and cherry pick across any functionality we'd like to retain

[2017-11-23 19:10] Lange commented on #35
Aha! I thought this all sounded familiar.

I'll work on the `next` branch and try to get it ready to merge. I'm okay with using `jimp` instead of `sharp`, at least until `sharp` offers prebuilt binaries (which is actively being looked into).

[2017-11-24 10:46] silid opened #37 "Rectangular images are not cropped and cannot be loaded to buttons"
The commit 5f47d7d030e2c05364a296cea117ce267ea1c37e removed the second argument from the sharp resize function. The second argument is required or the image isn't cropped and is the wrong aspect if not already square..

This commit should be reversed.

[2017-11-24 12:42] Lange commented on #37
This will be fixed in #36

[2017-11-24 13:15] silid opened #38 "Avoid double hitting a key"
I've noticed on my stream deck that sometimes it registers as two clicks when I press or release a button.
Eg. when pressing down it may log a Down-Up-Down in quick succession, or when releasing a key it may log an Up-Down-Up.

Do any of you have good suggestions for mitigating this?

[2017-11-24 13:15] Lange commented on #38
Use a debouncer in your event handlers, such as [lodash.debounce](https://www.npmjs.com/package/lodash.debounce).

[2017-11-28 18:24] Lange commented on #38
Closing, as this is something which can and should be handled via a separate debouncer. Feel free to comment again if you need additional guidance though!

[2017-11-28 18:24] #38 closed

[2017-11-28 18:24] Lange commented on #37
Fixed!

[2017-11-28 18:24] #37 closed

[2017-11-28 18:24] Lange commented on #35
Done, v2.0.0 released.

[2017-11-28 18:24] #35 closed

[2017-11-28 18:24] Lange commented on #17
Done in v2.0.0!

[2017-11-28 18:24] #17 closed

[2017-11-28 18:25] Lange commented on #7
Does this still happen with the latest version of `node-hid`?

[2017-11-28 18:46] Lange commented on #10
WebUSB has shipped in Chrome, so we could begin working on this feature at any time: https://caniuse.com/#feat=webusb

[2017-11-28 18:48] Lange commented on #9
I haven't thought of a better API for this, so I'd be okay with someone going ahead and implementing the API described in the original post and opening a pull request for it.

[2017-11-28 18:50] Lange commented on #9
Actually, maybe it should look like this:
[code]

[2017-11-30 13:35] ettr opened #39 "getting syntaxyerror"
Users/user/gitlab/decktest/node_modules/elgato-stream-deck/index.js:214
	async fillImageFromFile(keyIndex, filePath) {
	      ^^^^^^^^^^^^^^^^^
SyntaxError: Unexpected identifier
    at Object.exports.runInThisContext (vm.js:76:16)
    at Module._compile (module.js:542:28)
    at Object.Module._extensions..js (module.js:579:10)
    at Module.load (module.js:487:32)
    at tryModuleLoad (module.js:

[2017-11-30 13:38] Lange commented on #39
You need to use Node.js 7.6 or greater.

[2017-11-30 13:38] #39 closed

[2017-12-16 12:08] freelancer42 opened #40 "Key display issue"
I've been using this library with my stream deck successfully for the past few days, but ran into an issue today. All the keys seem to have a kind of grey "overlay" that makes the image look kinda blurry and washed out. Even the empty keys are now grey rather than black.

I've tried unplugging the stream deck and plugging it back in, and also tried connecting it to another computer that has the of

[2017-12-16 17:48] Lange commented on #40
Interesting, this is the first I've heard of this issue. The only thing I can think of would be to check the brightness setting of the device, though I don't think that would cause issues like what you're describing.

[2017-12-16 18:07] freelancer42 commented on #40
Yeah it's not the brightness setting. Turning it up definitely makes it worse though (or rather, more apparent). It really seems like a semi-transparent grey box is overlayed on top of the keys.

[2017-12-16 18:10] Lange commented on #40
At this time I've no idea what the cause of this issue could be, so I'm afraid I can't offer any assistance. Please keep us in the loop with any further findings you have though.

[2017-12-18 07:04] jesperstarkar commented on #40
Posting an image might help?

[2017-12-18 07:24] freelancer42 commented on #40
It's a little bit hard to get a good photo of it, but this is the stream deck connected to the official app with the default template (just an icon in the middle) at the lowest brightness setting:

![img_20171216_101309](https://user-images.githubusercontent.com/16519229/34094225-9435d8c8-e3cc-11e7-9a3e-63f4ac939bc8.jpg)

And this is at the highest setting:

![img_20171216_101331](https://user-ima

[2017-12-18 18:58] freelancer42 commented on #40
I've been in contact with Elgato support. Their best guess is that it's a hardware issue, so I'm gonna try to get the unit replaced. I'll let you know if there's any issues with the new unit when I get it.

[2018-02-05 16:02] norfair00 opened #41 "How to allow user use Stram Deck on Raspbian"
Hello,

On run node script for Stream Deck i have this error `Error: cannot open device with path 0001:0004:00`

[2018-02-05 16:29] Lange commented on #41
Hi @norfair00,

Hm, I didn't encounter this issue when I did initial testing of this library on my Raspberry Pi 3. I unfortunately don't have time to look into this myself right now; maybe someone else can offer some insight?

[2018-02-08 16:19] Lange opened #42 "Check if things still work against the latest Stream Deck firmware"
I haven't had a chance to try out the current firmware -- can anyone confirm if this library still works as expected with it? Thanks!

[2018-02-08 17:49] ProbablePrime commented on #42
On it :)

[2018-02-08 18:36] ProbablePrime commented on #42
@Lange All the example files we have work :)

[2018-02-08 18:48] Lange commented on #42
@ProbablePrime awesome, thank you so much for testing!

[2018-02-08 18:48] #42 closed

[2018-03-05 20:50] Lange commented on #40
@freelancer42 Any updates? Are we okay to close this issue?

[2018-03-05 20:54] freelancer42 commented on #40
My apologies, I could've sworn I already posted this, but yeah the new unit is working fine and doing very well with the library for a month and a half now.

[2018-03-05 20:54] #40 closed

[2018-03-05 21:02] Lange commented on #40
Wonderful news! Thanks for the closure :+1:

[2018-03-16 08:36] chesscoach opened #44 "Getting started and failing"
npm WARN saveError ENOENT: no such file or directory,

[2018-03-16 08:38] chesscoach commented on #44
npm install --save elgato-stream-deck
npm WARN saveError ENOENT: no such file or directory, open '/home/mine/package.json'
npm WARN enoent ENOENT: no such file or directory, open '/home/mine/package.json'
npm WARN mine No description
npm WARN mine No repository field.
npm WARN mine No README data
npm WARN mine No license field.

[2018-03-16 15:05] Lange commented on #44
Hey there,

Are you perhaps having the same issue as https://github.com/Lange/node-elgato-stream-deck/issues/33 ?

[2018-03-16 16:17] chesscoach commented on #44
Thanks. That clarifies it.

*******
Frank Johnson
frankjohnson@chess-coach.net
404-492-9039 (Office)

On Fri, Mar 16, 2018 at 11:05 AM, Alex Van Camp <notifications@github.com>
wrote:

[2018-03-16 16:48] #44 closed

[2018-03-16 16:59] chesscoach commented on #44
Do we have access to anyone who has a successful implementation using this
node?

*******
Frank Johnson
frankjohnson@chess-coach.net
404-492-9039 (Office)

On Fri, Mar 16, 2018 at 12:48 PM, Alex Van Camp <notifications@github.com>
wrote:

[2018-03-16 17:01] Lange commented on #44
Most implementations are very specific to a particular use case. I am not personally aware of anyone who has made an application which intends to be an outright replacement for the official Elgato application for the Stream Deck.

[2018-03-16 17:15] chesscoach commented on #44
Thank you for taking the time to respond. Every response has been
informative and critical. I wish I had contacted you sooner, because I have
been trying to figure out the node for about 3 weeks.

*******
Frank Johnson
frankjohnson@chess-coach.net
404-492-9039 (Office)

On Fri, Mar 16, 2018 at 1:01 PM, Alex Van Camp <notifications@github.com>
wrote:

[2018-03-16 17:23] Lange commented on #44
Oh dang, sorry to hear that. You're not the first person who has been under the impression that `node-elgato-stream-deck` is a full, standalone application. Perhaps the README should be updated to make this clearer.

[2018-03-19 13:31] PimHaarsma opened #45 "Get Firmware Version and Serial Number"
Hello,

I missed the function to obtain version number and serial number from the Stream Deck, which does have the original software. I figured it out, and this works on my Stream Deck:
(Currently I can't do a pull request, but here is the code) 😃

	/**
	 * Get firmware version from Stream Deck
	 */
	getFirmwareVersion() {
		return this.device.getFeatureReport(4, 17).slice(5).map(function(val){

[2018-03-19 19:28] Lange commented on #45
Nice, thanks for this! I'm a bit busy currently so you might be able to get around to opening a PR before I can.

[2018-03-26 23:30] Lange commented on #9
Oh interesting, you mean registering key combos which use some keys on the Stream Deck and some keys on a keyboard, in a single combo?

[2018-03-26 23:45] pkej commented on #9
Yes. But by leveraging https://github.com/agirorn/node-hid-stream and use the HidKeyboardPacket as an expanded return on event up and down, expanding on the current keyindex returned today. The HidKeyboardPacket can already return multiple key presses. I guess it could be expanded to include multiple keyindex values in the same way as keycodes. Node-hid-stream depends on node-hid so a good match.

[2018-03-26 23:50] pkej commented on #9
A further expansion would be to create a buffer for all the graphics on the keyboard and store these for “layers” that could be loaded on modifier key presses. So the stream deck will show one default layer initially, but for each layer applied to a modifier key combo it would change to show what the modifier would do. By stitching all the icons assigned to each physical key programmatically it wo

[2018-03-27 00:12] Lange commented on #9
I think for now, I don't want to include the ability to interact with other HID devices in this library. It seems like scope creep and would make this library harder to maintain.

On the topic of "layers", yes I agree that it'd be good for this library to expose some methods which assist users in implementing a multi-layered set of controls for their stream deck. I've not yet put any thought into

[2018-03-27 00:33] pkej commented on #9
I’ll be hacking tomorrow, after redeploying Windows and reinstalling node. I can see how feature creep would be bad. I’m thinking layers etc would probably be great as an GUI-config. I’ve got a lot of stuff lying around, x-keys, strategic commander, midi controllers, tactical keyboard, shuttle pro, ad nauseam, and also came across http://osc.ammd.net which is snappy on my iPad. So I think I need t

[2018-04-04 23:57] wuest opened #47 "How are you snooping communication?"
In https://github.com/Lange/node-elgato-stream-deck/blob/master/NOTES.md you note that the Stream Deck software sends specific messages at initialization.

Was this guesswork, or do you have a method to snoop the communication?

I ask because I noticed that out of the box, the device info from my Stream Deck via Haskell's `System.HIDAPI` reported that the serial number was `Just ""` - whereas afte

[2018-04-05 00:04] Lange commented on #47
I personally used [WireShark](https://www.wireshark.org/), which happens to have support for capturing USB packets in addition to network packets.

This page should hopefully be helpful in getting that up and running: https://wiki.wireshark.org/CaptureSetup/USB

[2018-04-05 00:14] wuest commented on #47
Oh nice!  I'm so used to using `tcpdump` and just using WireShark to view the pcap, that I had no idea it had USB capture support.

I'll hopefully have some additional documentation to add to your notes after this weekend.

[2018-04-05 00:14] #47 closed

[2018-04-17 05:31] ProbablePrime commented on #34
This might be a bug within the upstream module `node-hid`.

A small reproduction script that just attempts to use `node-hid` within a docker container would confirm this.

[2018-04-17 05:32] ProbablePrime commented on #11
There is definitely an image written to somewhere on the device that decides this. During a PC boot the elgato image is shown.

[2018-04-25 21:37] asdf23 opened #49 "Crashing"
As admin I am running
`npm install --global --production windows-build-tools`
`npm install --global node-gyp`
`npm install --save  elgato-stream-deck`

The last call throws this error

[code]

[2018-04-25 21:39] Lange commented on #49
I don't think Node.js 9 or 10 is supported by the version of `node-hid` that we use. Are you able to use Node.js 8?

[2018-04-26 11:58] asdf23 commented on #49
8 is working as you suspected, thanks

[2018-04-26 11:58] #49 closed

[2018-04-26 18:55] asdf23 opened #50 "Questions about purpose"
Forgive me if this is the wrong place to ask..

I've not quite wrapped by head around the purpose of this project. Is the purpose to replace the stream deck software? (Or do both work together?) I understand that installation the stream deck software is a requirement for this software - but does it need to be running?  If it is a replacement then would that mean that I lose the screen timeout and

[2018-04-26 19:01] Lange commented on #50
Hi there,

This is a common question. You can find the answer you're looking for right at the top of our [README](https://github.com/Lange/node-elgato-stream-deck/blob/master/README.md):

[2018-04-26 19:19] Lange commented on #50
I've [updated the README](https://github.com/Lange/node-elgato-stream-deck/commit/2b979931c81736daa8469b603795d7abc7d8d377) to further clarify this, as it seems like a number of people are finding this library on google and mistakenly thinking it is a standalone replacement for the official Stream Desk software.

I apologize for any frustration you may have experienced while figuring out what this

[2018-04-26 19:19] #50 closed

[2018-05-01 21:01] heytreylive opened #52 "Key Display Issue"
Just bought a new Stream Deck unit. First day the keys were working fine, but this morning the keys looked milky/grayed out. The keys still work but the display has the issue.
![31699021_10155551065508494_2177487099823915008_n](https://user-images.githubusercontent.com/38894302/39493568-537a58dc-4d61-11e8-9705-57c1e30c049e.jpg)

[2018-05-01 21:03] Lange commented on #52
Is this only happening when using this library? If it also happens when using the first-party Stream Deck software, then it may be a hardware issue. You would need to contact Elgato's customer support, in that case.

[2018-05-01 21:04] Lange commented on #52
To clarify: we are not Elgato, this is a community-made code library providing a JavaScript API for the Stream Deck. We will be unable to assist with hardware issues or provide customer support.

You can find Elgato's help portal here: https://gaming.help.elgato.com/customer/en/portal/articles

[2018-05-01 21:07] heytreylive commented on #52
ya i just figured i'd look to see if anyone knew of a solution before i went to them. Thanks man. its definitely a hardware issue. i'll just go to them thanks.

[2018-05-01 21:07] #52 closed

[2018-05-04 10:00] uffefrostbox commented on #41
Hi. I have the same problem. @norfair00 Did you find a way to fix this? Thanks in advance

[2018-05-06 07:37] DGivney commented on #41
I get the same error on Ubuntu 16.04.

Running the command with sudo works however; **sudo node rapid-fill.js**

[2018-05-06 20:03] uffefrostbox commented on #41
Thanks you @DGivney ! It works on my setup now when I run the examples with sudo. I.e Raspbian on RPi3 with stream deck firmware 1.0.170133. I very much appriciat both your support and Langes amazing job creating this API! Thanks

[2018-05-09 11:16] DGivney commented on #41
@uffefrostbox The permissions are set by the OS on 'input' devices to prevent key-loggers etc from accessing your keyboard commands.  I was able to fix this issue with a udev rule however.

See the installation script on this project which creates a udev rule on a Raspberry Pi;
https://github.com/abcminiuser/python-elgato-streamdeck#user-content-raspberry-pi-installation

The rule I needed for Ubu

[2018-05-21 18:32] Lange commented on #25
@ProbablePrime Would you be willing to start a branch which adds your preferred TypeScript & TSLint configurations? From there, myself or another contributor can do the rest of the conversion, if you are time-limited.

[2018-05-27 01:08] ProbablePrime commented on #25
@Lange Sorting it out now :)

[2018-05-27 23:10] ProbablePrime commented on #25
branch created: `feat/typescript`.

Notes:
- Swapped ESlint for Tslint using https://github.com/xojs/tslint-xo ruleset. Seems to match JS XO
- TSLint is very unhappy with the current code base
- Typescript is also unhappy this is because I usually run typescript in strict mode. This is very militaristic but it makes for better code in the long run.
- I have no idea if AVA tests or coverage will wo

[2018-05-27 23:16] ProbablePrime commented on #25
nyc coverage data running here on a module from work: https://github.com/mixer/etcd3/blob/master/package.json

[2018-05-27 23:29] Lange commented on #25
Thanks @ProbablePrime! I've been using TS in some other projects lately so I have at least a basic literacy in it.

I'm unsure when exactly I'll get around to re-writing this module as TS, but that branch provides a perfect starting point.

[2018-07-04 18:11] Coffee2CodeNL opened #53 "Thanks for the Notes :-)"
Thanks to your notes I had a notion of what to look for in the USB packets :+1:

Now there's an alternative to Elgato's own Stream Deck software being developed :grin:

See: https://git.coffeenet.nl/Coffee2Code/LinGato

I've also featured you on my blog: https://coffee2code.space/2018/07/04/alternative-elgato-stream-deck-software.html

[2018-07-20 07:03] YuriStruszczynski opened #54 "async fillImageFromFile(keyIndex, filePath) -> SyntaxError: Unexpected identifier"
Hi,

i get the following error, any ideas how to fix this?

[code]

Best regards, Yuri

[2018-07-20 14:37] Lange commented on #54
Hi Yuri,

You'll need to use Node.js 7 or newer.

On Fri, Jul 20, 2018, 2:03 AM Yuri Struszczynski <notifications@github.com>
wrote:

[2018-07-21 05:00] #54 closed

[2018-07-21 05:00] Lange commented on #53
Happy to have been of assistance!

[2018-07-21 05:00] #53 closed

[2018-07-21 18:41] justweb1 opened #55 "Issue compiling"
Console Output:
[code]

NPM Debug Log: (these are the only errors I found)
[code]

[2018-07-21 18:54] Lange commented on #55
Hi @justweb1,

Are perhaps you having the same issue as https://github.com/Lange/node-elgato-stream-deck/issues/49?

[2018-07-21 19:01] justweb1 commented on #55
My error is a little different but I will try downgrading Node.

[2018-07-21 19:44] justweb1 commented on #55
Reverting to Node v8 did resolve the issue.
Thanks @Lange .

[2018-07-21 19:44] #55 closed

[2018-07-23 07:01] YuriStruszczynski commented on #54
THX, i installed nvm to get ability to switch to 7 but got a lot of different other errors not related to this projects code. I think i have to try it on a blank system. Best regards, Yuri

[2018-07-23 15:05] baltedewit commented on #10
I think for this to happen Elgato needs to ship it in their driver first, similarly to https://github.com/webusb/arduino
In any case, I can't see the device in Chrome. Pity.

[2018-07-23 22:33] Lange commented on #10
It looks like WebUSB specifically does not support HID under normal conditions: https://stackoverflow.com/a/49453250/3903335

[2018-07-25 02:10] ProbablePrime opened #56 "Mini Support"
https://www.elgato.com/en/gaming/stream-deck-mini

I'm impulsive so i ordered one

[2018-07-31 00:34] ProbablePrime commented on #56
My mini is delivered :D

[2018-07-31 04:44] ProbablePrime commented on #56
Ok, I thought it would use the same protocol so i just hacked in a bunch of checks for the number of keys. NOPE different protocol.

THIS WILL BE FUN!

[2018-07-31 07:41] ProbablePrime commented on #56
It looks like the mini writes in a more high fidelity mode. I see Multiple packets for each button.

i see up to 0x13(19) in the 3rd Byte. We previously called this the page number and we only found 2 now there are 19. I will plug the original in and see if that too has changed.

[2018-07-31 07:44] ProbablePrime commented on #56
Regular streamdeck does not do this. I bought a second stream deck for my office last month. I'll capture this one to see if this is a time or purchase thing.

It looks like the streamdeck mini might use a different type of key or logic board.

[2018-08-09 13:46] wischi-chr commented on #56
I looked at the preview images on amazon and the icons are much clearer on the mini. Maybe the resolution is better or is it still 72x72 ?

[2018-08-11 09:27] wischi-chr commented on #56
@ProbablePrime My Stream Deck Mini arrived today and I looked into that already. Looks like the protocol is the same, but they changed the report length from 8191 to 1024 and thus more "pages" are needed to transfer the BMP file.

[2018-08-11 18:43] ProbablePrime commented on #56
I have an email from someone in my inbox on the writing changes you're right that they have longer lengths but there's also some other settings that get changed. Due to the changes I'm going to write a class based structure to handle writing.
[code]

[2018-08-12 05:04] wischi-chr commented on #56
A few things that changed (let me know if you found something else that changed)

- The page number (byte 3) now starts with 0 instead of one
- The keyId order changed (was right to left on SD and is now left to right on SDM)
- The BMP files that are transfered are now 80x80px (but according to elgato systems the LCDs are still 72x72)
- The images are rotated 90° CW (so you need to rotate them CCW

[2018-08-15 19:37] lc-101 opened #58 "Node 10 support? | error: no matching member function for call to 'NewInstance'"
Hello everyone,
I had noticed that I was getting errors during install when node-hid was getting installed.
[code]

It seems node-hid is using some deprecated node APIs not comparable with node v10
https://github.com/node-hid/node-hid/issues/266

This has been corrected in node-hid 7.3. I did a test with the newer version of node-hid and it seems to work well with the node-elgato-stream-deck API a

[2018-08-15 20:41] Lange commented on #58
Hi @lc-101,

Please see https://github.com/Lange/node-elgato-stream-deck/pull/51 for more information. I agree we should support Node 10, but Linux support is the blocker right now.

[2018-09-03 20:52] Llorx opened #59 "NPM package contains no typings"
![image](https://user-images.githubusercontent.com/702490/45001261-f8ab5500-afcb-11e8-8564-fa97e1e630d6.png)

Easy as that.

[2018-09-19 20:25] zorkhan opened #60 "Connecting two StreamDecks"
Hi,

I'm running on a raspberry pi 3B+ (stretch v9)

My goal is to run with 2 StreamDecks attached simultaneously. Everything is working fine when using 1 StreamDeck. My issue is that I can't seem to figure out how to connect to multiple StreamDecks.

I have tried:
  sd1 = new StreamDeck();
  sd2 = new StreamDeck();
home/pi/node_modules/elgato-stream-deck/node_modules/node-hid/nodehid.js:32
   thi

[2018-10-12 16:18] Lange commented on #60
Hi @zorkhan,

Apologies for the late response, been rather busy.

It _should_ be possible to connect two stream decks, but maybe there's a bug which prevents it from working on Linux?

Also ,it is expected that the device path strings will be very different on Windows and Linux, so don't worry about that.

We might need a PR to fix this.

[2018-10-14 20:29] zorkhan commented on #60
Perhaps another piece of information. If I plug in the streamdeck and do a ls /dev, I see a device named hidraw0 (matches the output from HID.devices()). When I start my application, I see the normal output from HID.devices(), but the hidraw0 entry is now missing from /dev. If I restart my app, the output from HID.devices is blank, though the app works fine (I connect it with new Streamdeck().

[2018-12-15 22:31] Noir- opened #61 "Get rid of the sharp library"
Please consider leaving the image conversion functionality to the host application.

Depending on the user environment this introduces a **lot** of complexity to get it running.

For example, I want to use this on a Raspberry Pi. When running npm install everything seems fine but on runtime it turns out that sharp was not even built. In order to build it, a library (libvips) must be installed. Aft

[2019-01-01 02:21] idoodler commented on #61
I would also favor this change.

[2019-01-01 21:17] idoodler opened #62 "Unable to use with Electron"
I am unable to use this library with Electron.js. `npm rebuild` didn't fix the issue.

I am using electron version **4.0.0**

[code]

Anyone know how to fix this?

[2019-01-08 14:50] CeH9 opened #63 "SDK release"
Finally they did it, great news! [link](https://gaming.help.elgato.com/customer/en/portal/articles/2965624-elgato-stream-deck-sdk-%E2%80%93-use-software-version-4-0-and-above)

[2019-01-09 06:33] joeygallegos commented on #63
I love it! I hope somebody makes the Stream Deck into a launchpad! haha. [`https://youtu.be/y04W3RFKxwk?t=8`](https://youtu.be/y04W3RFKxwk?t=8)

[2019-01-28 04:10] howkj1 commented on #56
@ProbablePrime @wischi-chr
Did you happen to figure out the data needed to get button images / colors working on the mini?
I have success capturing key-press up's and down's with my mini on ubuntu 18.04 but get crashes when I call something like :
`myStreamDeck.fillColor(2, 254, 0, 0);`
I think its due to page numbers and buffer sizes being wrong?
I'm willing to do some testing but need some ideas

[2019-01-28 15:11] wischi-chr commented on #56
@howkj1 StreamDeck Mini has icon sizes of 80x80 px and the "magic bytes" that precedes the image data is just a regular bmp header. I'm not very good at javascript so I can't diagnose the problems with node-elgato-stream-deck.

But if you need a reference to look things up you can take a look at my HID implementation for [Stream Deck](https://github.com/OpenMacroBoard/StreamDeckSharp/blob/master/s

[2019-01-31 19:01] n-scope commented on #63
AFAIK they still dont support linux. So I hope this repo will stay alive

[2019-01-31 19:07] Lange commented on #63
I admit that I am not currently using this library in any projects. As a result, I am unable to dedicate time towards maintaining it. Maintenance PRs welcome.

[2019-02-07 17:56] jpoppe commented on #58
Just got my Stream Deck and made it working with node 10 and Linux, you could rebuild node-hid, with the following command to use the libusb driver:

cd node_modules/node-hid node-gyp rebuild --driver=libusb

Or on installation:
npm_config_build_from_source=true npm_config_driver=libusb yarn add node-hid
npm install node-hid --build-from-source --driver=libusb

(took me a while to figure out the y

[2019-03-03 20:29] hedgehog1029 commented on #6
could potentially look at [jimp](https://www.npmjs.com/package/jimp) - it supports text w/ wrapping, though it can only load a format called "BMFont" (tools to convert TTFs exist apparently). another benefit of jimp is that it has zero native dependencies, which makes this library more portable.

[2019-03-17 04:41] soatok commented on #62
#64 should help, if I can figure out how to get it to compile with node-hid 0.7.7+

[2019-04-11 03:58] soatok commented on #62
If it helps, you can use my fork for now: https://github.com/soatok/node-elgato-stream-deck

Just make sure your dependencies is set up like this:

[code]

[2019-05-29 20:24] Llorx commented on #59
You have the typings right there in GitHub, but not pushed them to the npm package.

[2019-05-29 21:22] Julusian commented on #61
This has been done and will be in the next release

[2019-05-29 21:22] #61 closed

[2019-05-29 21:23] Julusian commented on #25
This repo is now all done in typescript

[2019-05-29 21:23] #25 closed

[2019-05-29 21:23] Julusian commented on #45
This has been done and will be in the next release

[2019-05-29 21:23] #45 closed

[2019-05-29 21:29] Julusian commented on #60
It is and long has been possible, the paths you need to use look like '0005:0005:00' on linux not the hidraw paths

To help with this, the next version (3.0.0) will have a `StreamDeck.listDevices()` function to help discover devices

[2019-05-29 21:29] #60 closed

[2019-05-29 21:30] Julusian commented on #56
In theory, this library now supports the Mini but I do not have one to be able to test it. I would be really grateful if someone is able to test it

[2019-05-29 21:48] Julusian commented on #10
WebHID is a very very very early, but might be just what we need to do this https://github.com/WICG/webhid/blob/master/EXPLAINER.md

[2019-05-29 22:01] Julusian commented on #34
I can confirm that it is/will soon be possible to do this.
One caveat is that I am using a modded version of node-hid 0.7.8 (to use libusb), but once node-hid has fixed that is should be easily possible

The device needs to be passed in like the following, and libusb installed
`docker run -it --device=/dev/bus/usb/001/032 -v$PWD:/src node:8 bash`

[2019-05-29 22:06] Julusian commented on #63
The SDK is for writing actions to be used in their control software, so isn't really relevant to this library. Especially as they do not support linux.

[2019-05-29 22:06] #63 closed

[2019-05-29 22:19] Julusian commented on #41
I assume this was resolved. I expect that the udev rule was the problem, I am adding a section to the README to specify that will need to be done on linux

[2019-05-29 22:19] #41 closed

[2019-05-29 22:22] Julusian commented on #11
That tweet reads to me like he made a modified version of the device firmware to do that.
I tried to capture a firmware update of mine to see how it looked, but I only got ~80kb of data, so it doesnt look promising anytime soon

[2019-05-29 22:25] Julusian commented on #6
I expect that trying to provide text rendering will become a nightmare to maintain as everyone will want it to be done slightly differently.
And with sharp now removed as a dependency, doing any text rendering no longer belongs in this project.
There is an example in the project to give users a starting point for doing it themselves, perhaps that is enough?

[2019-05-29 22:32] Julusian commented on #62
I assume this has been resolved, but for anyone else:

That error is because electron is trying to use a native dependency compiled for an older version of node than it has been told to use. Electron 4.0.0 uses node 10, and you appear to have node 8 installed.

If you dont need linux support, then the easiest solution is to update to node 10 and use @soatok's version until a new version is release

[2019-05-29 22:32] #62 closed

[2019-05-29 23:44] Julusian commented on #59
The next release will resolve this

[2019-05-30 18:13] Julusian commented on #14
The library has changed a lot since this was opened. It does not support multiple devices, and there is an [example](https://github.com/Lange/node-elgato-stream-deck/blob/master/examples/device-detection.js) showing how simple it is to do device detection with [usb-detection](https://github.com/MadLittleMods/node-usb-detection), so I don't think there is anything more we should do here.

Feel free

[2019-05-30 18:13] #14 closed

[2019-05-30 18:16] Julusian commented on #31
Done.

tslint can still throw some not autofixable linting errors, but prettier has taken over on formatting

[2019-05-30 18:16] #31 closed

[2019-05-30 21:23] Julusian commented on #32
Jest seems happy to diff and print 8k long arrays. Not easy to read, but I dont see any way of changing it

[2019-05-30 21:23] #32 closed

[2019-05-31 02:40] lexmiln commented on #56
Hey, I've been subscribed to this issue hoping for support for the stream deck mini - I'm doing my best to put the new changes to the test but setting up a sane dev environment on Windows 10 has me going around and around. It looks like I need to install Visual Studio 2015 C++ something something to compile the usb-detection node library from source??? Will update if I make progress (or I'll just

[2019-05-31 03:56] lexmiln commented on #56
![image](https://user-images.githubusercontent.com/230271/58680461-71f29100-832d-11e9-82c9-1475b73b7366.png)

Not bad!!!! The images appear rotated and flipped, and appear to be offset and wrapping in a curious way, but this is otherwise working for me.

The photo is from `examples/text-generation.js` - buttons _should_ be cleared when they're unpressed but I was able to get the images to stick if

[2019-05-31 08:07] Lange commented on #56
Try  https://www.npmjs.com/package/windows-build-tools

On Thu, May 30, 2019 at 9:40 PM Alex Macmillan <notifications@github.com>
wrote:

[2019-05-31 09:27] Julusian commented on #56
@lexmiln Thanks for giving this a test.
Needing vs2015 is annoying, but as usb-detection is only needed for one of the examples it could be left out for testing.

Seeing the icons being wrong is really helpful, being able to visualise what it is doing wrong will make it a lot easier to correct. The offset is the slightly most interesting part of that, Is that strip of white at the top of the butto

[2019-05-31 12:34] lexmiln commented on #56
| top left | bottom right |
| --- | ----|
| ![image](https://user-images.githubusercontent.com/230271/58705484-fe747200-8374-11e9-905a-ba1d7b419a8f.png) | ![image](https://user-images.githubusercontent.com/230271/58705496-0a603400-8375-11e9-9689-92baf087a01a.png) |

The image appears to be offset down and right, and wrapping around back to the top (yup, that's not a reflection). But even curiouser

[2019-05-31 13:47] howkj1 commented on #56
It was mentioned in an earlier thread on the mini that it is possibly using
an 80x80px image buffer instead of the 72x72px per key that the regular
deck ueed. What size icons are you pushing to the mini? That might have
something to do with the wrapping.

On Fri, May 31, 2019, 7:34 AM Alex Macmillan <notifications@github.com>
wrote:

[2019-05-31 13:56] Julusian commented on #56
The code is padding the images by 4px each side as from what I have read the extra resolution is not visible

I am wondering if the image is being split into chunks in the wrong order. I have an idea to debug this myself, so Ill see how that goes and let you both know what I find

[2019-05-31 14:05] howkj1 commented on #56
@lexmiln @julusian

https://github.com/Lange/node-elgato-stream-deck/issues/56#issuecomment-412319050

[2019-05-31 17:50] Julusian commented on #56
@howkj1 That could have been where I read it before

@lexmiln I have pushed some changes, that should improve on this. Could you retest and let me know how it looks?

[2019-06-01 15:15] lexmiln commented on #56
@Julusian With the most recent commit 15ce1f27bb0490206b4973499bce5d0a7b5e3bc6 none of the examples display anything on the SDM. Button presses are still working, as is the brightness control, but the buttons are always blank.

I `git bisect`ed and the regression seems to be in the latest commit:

[code]

[2019-06-01 15:29] Julusian commented on #56
@lexmiln could you try changing https://github.com/Lange/node-elgato-stream-deck/commit/15ce1f27bb0490206b4973499bce5d0a7b5e3bc6#diff-a8c2776a92bf173b9aac3717418d2de5R124 back to `const firstPart = 0`?

[2019-06-01 15:38] lexmiln commented on #56
With pleasure.

| high bracket | low bracket |
| --- | --- |
| ![image](https://user-images.githubusercontent.com/230271/58750490-eaa23c00-8458-11e9-97d1-86674a6115b4.png) | ![image](https://user-images.githubusercontent.com/230271/58750494-f2fa7700-8458-11e9-9a4d-bdedcd390723.png) |

- Nailed it - images are displaying again
- Beautifully centered
- Flipped horizontally! Both the text and octocat

[2019-06-01 15:54] Julusian commented on #56
that was an easy fix then :)

To confirm the image size, if you add `byteBuffer.fill(120)` to line 29 of util.ts (https://github.com/Lange/node-elgato-stream-deck/blob/master/src/util.ts#L29) that will fill the space outside the picture in grey, so it will be nice and easy to confirm that the extra resolution is visible.

I think the flip should be fixed by setting line 152 of models.ts (https://g

[2019-06-01 16:08] lexmiln commented on #56
![image](https://user-images.githubusercontent.com/230271/58750870-04de1900-845d-11e9-8adf-9bb3b857c5fc.png)

Flip fix is good. Grey pixels abound.

Perhaps it is because of the lensing effect that we see especially on button #5 in this photo that it is preferred to leave the border pixels unused? I'm not sure, I can't easily compare to what the official software does.

[2019-06-01 16:17] Julusian commented on #56
Perhaps, or maybe they scale everything in their software up from 72 to 80, so that it appears no different to normal users. Either way I think it should be up to the library user to pad however much they want to, so I shall remove it.

I shall remove the padding logic and push these other fixes shortly.

[2019-06-01 17:18] Julusian commented on #56
@lexmiln latest master should fix those issues

[2019-06-01 20:21] wischi-chr commented on #56
@lexmiln

That's true the LCDs are 80x80 pixel on the stream deck mini (here is prove for that: https://www.youtube.com/watch?v=xjthoJevvKw) I talked to elgato about that back in August 2018 and it sounded like the support (they told me that they event talked to developers) wasn't even aware of that fact.

Long story short - the stream deck mini LCDs are 80x80 and you can control all 80x80 pixels,

[2019-06-02 01:34] lexmiln commented on #56
@Julusian `master` fixes those issues :+1:

[2019-06-02 17:58] Julusian commented on #56
@wischi-chr that is interesting to know. annoying that they were misleading, but not a big deal really.

@lexmiln Thats great to hear. I shall close this issue once I have done a release unless someone reports any other problems :)

[2019-06-03 15:51] Julusian commented on #58
v3.0.0 has just been published which will resolve this issue

[2019-06-03 15:51] #58 closed

[2019-06-03 15:51] Julusian commented on #59
v3.0.0 has just been published

[2019-06-03 15:51] #59 closed

[2019-06-15 20:39] zorkhan opened #67 "fillImageFromFile in 3.0"
Has this been removed? I see some comments stating that node.js 7.6 or higher is required. I am running v8.16.0.

[2019-06-15 20:48] Julusian commented on #67
Yes, this has been removed.
The reason is that it required a dependency that was an unnecessary burden for a lot of users as it was large and makes installation more complex on some systems.
The readme gives an example of how to achieve the same thing yourself, so hopefully this will be sufficient for you. https://github.com/Lange/node-elgato-stream-deck#example-2

[2019-08-07 15:23] Eastborn opened #68 "Streamdeck XL cannot use the resetToLogo"
Whenever i try to call StreamDeck.resetToLogo() on a streamdeck XL:
My code:
[code]
The stack trace
[code]
which would be this code:
models/xl.js:36-42
[code]

[2019-08-20 09:12] uffefrostbox opened #69 "nan.h missing when installing @julusian/jpeg-turbo@^0.5.1 on RPi 4B"
Hi @Julusian
First thanks for the great update to v3!

My issue: When trying to install @julusian/jpeg-turbo@^0.5.1 on RPi 4b Raspian Buster OS I found that I needed first to install CMake because I think it tries to build from source:
$ sudo apt-get install cmake SUCCESS
But then your jpeg-turbo script was missing nan.h and then I tried
$ npm install --save nan SUCCESS
but it still was missing th

[2019-08-20 12:30] Julusian commented on #69
What version of node are you running?
I have tested this on my Pi 4B, and it is working fine with both node v8.16.1 and v12.8.1.
Could you post the full log file referenced at the bottom of that error log?

[2019-08-20 13:14] uffefrostbox commented on #69
Thanks for the quick reply!

The first try was with Node JS v10.15.2

I have now installed node js v12.8.1 but it is still missing the nan.h

And now my script gives an error since updating to v12 missing libnode.so.64. Is this why in the “Compiling dependencies from source>Linux”-section it says to install Node v8?
A bit of background history of my installation process from this section:
$ sudo a

[2019-08-20 18:35] Julusian commented on #69
How strange.
I have just checked, and I think it should be finding nan.h inside node_modules
[code]

It looks like the `Compiling dependencies from source>Linux` section is a bit outdated. I see no reason to use gcc-4.8, especially as it is not available in recent versions of linux. It should work with newer versions fine (my laptop is using 8.3, buster is likely similar).

That is weird that it e

[2019-08-20 18:54] uffefrostbox commented on #69
Hi again

I tried a fresh install of everything and I can get it all working with node js 12.8.1 also my script now except when installing @julusian/jpeg-turbo@^0.5.1 the this missing nan.h issue pops up and I checked the it is in the node_modules/nan/

Se below for the part of the console output I think you asked for.

Thanks

`pi@raspberrypi:~ $ npm install --save @julusian/jpeg-turbo@^0.5.1

pr

[2019-08-20 19:04] uffefrostbox commented on #69
Maybe it has something to do with these warnings when I install nan:

pi@raspberrypi:~ $ npm install --save nan
npm WARN saveError ENOENT: no such file or directory, open '/home/pi/package.json'
npm WARN enoent ENOENT: no such file or directory, open '/home/pi/package.json'
npm WARN pi No description
npm WARN pi No repository field.
npm WARN pi No README data
npm WARN pi No license field.

+ nan@2

[2019-08-20 19:07] Julusian commented on #69
Yeah, I was just thinking that.
According to https://github.com/cmake-js/cmake-js/issues/39 you will need to have a package.json in your project folder for it to be able to find nan.h

Those warnings suggest that you don't have one, so perhaps try after creating one. (either `npm init` or create an empty file)

[2019-08-20 19:15] uffefrostbox commented on #69
That worked! Thanks a lot. Used `$npm init` to create /home/pi/package.json and then your `$ npm install --save @julusian/jpeg-turbo@^0.5.1` worked.

Extreme speed increase in drawing the Stream Deck XL keys!

Thanks a lot

[2019-08-20 19:15] #69 closed

[2019-09-14 23:43] jaredgudnason opened #71 "process not exiting"
Hi,
not a huge developer, just tinkering, but have narrowed down the issue to the stream deck library.

whenever i have a js file with a streamdeck library, the code will not exit by itself.  however, if i put a process.exit() at the end, it cuts off the process of filling the buffer.  Any guidance would be appreciated.

here is entire code, making a text label.  Runs fine, does everything, but do

[2019-09-14 23:47] Lange commented on #71
The process not exiting is intentional, because `elgato-stream-deck` is meant for long-running systems and it has to keep things such as the USB connection open.

If you'd like your script to exit after it has finished its work, you'll need to wait for your Promise chain to resolve, and _then_ call `process.exit`. Here's an example to get you started. It might not work right off the bat because I

[2019-09-15 00:12] jaredgudnason commented on #71
ahh thanks for that..
i'm now reading about promise chains and async issues.. interesting.
i was planning on nesting that entire chunk into a function like
"updateButton" so i could then update a bunch of buttons.
any way i could do that, and only exit when the entire promise chain is
done?
(sorry for noob type questions, i'm googling lots here.  ;)

On Sat, Sep 14, 2019 at 5:47 PM Alex Van Camp <

[2019-09-15 00:23] Lange commented on #71
Yep, you can throw a `.then` on the end of any promise chain at any time, pretty much. You can also use `async/await` if you find using `.then` to be ugly. At this point, since you know what you want is possible, I'm going to close this issue and encourage you to read up on places like MDN and the Google developer site, which can provide more info on these fundamentals than I ever could.

[2019-09-15 00:23] #71 closed

[2019-09-15 00:24] jaredgudnason commented on #71
you betcha.  Thank you for the prompt reply.
I'll get it figured.

On Sat, Sep 14, 2019 at 6:23 PM Alex Van Camp <notifications@github.com>
wrote:

[2019-09-29 11:26] Julusian commented on #68
Sorry for the delay.
This is resolved in v3.1.0

[2019-09-29 11:26] #68 closed

[2019-09-29 11:28] Julusian commented on #56
Closing as this was done a few months ago, and no further discussion has occured.
If there is anything wrong, please open a new issue

[2019-09-29 11:28] #56 closed

[2019-09-29 11:28] #67 closed

[2019-10-01 07:55] knicolas22 opened #73 "Original Version transformKeyIndex problem"
Hello
I am testing your API for future use.
I have a problem at the level of the original version, the transformKeyIndex function checks for errors, to fix itself problem, I modify in my version:
return parseInt (keyIndex) + parseInt (diff);
Since it works.
Can you look on your side, is making me a return.
thank you

[2019-10-11 13:53] Hugobox opened #75 "Gif support?"
Hi!
I've seen that the latest steam-deck 3.0 now supports gif, does your library also support it? If not, are you planning on implementing it?
Thanks for the consideration!

[2019-10-15 21:53] Julusian commented on #75
This library doesnt support any specific image formats. All it does is to transfer a raw pixel buffer to the device. There are no current plans to add back any support for handling encoded images.

It is up to you the users of the api to decode and manipulate any images into a Buffer before passing them to the api. So you can do animated gifs or similar by calling the api with each frame at the co

[2019-10-15 21:53] #75 closed

[2019-10-15 21:59] Julusian commented on #73
Im a little confused what your problem is, but it sounds like you are saying that transformKeyIndex is returning the wrong value when keyIndex is a string. Is that what is happening?

[2019-11-07 16:56] uffefrostbox opened #76 "New revision of stream deck released which does not work"
Hi
I have a user that cannot get my software to connect with his Stream Deck and it seems that there have been a silent release of a new revision that breaks compatibility with this library and that these units are now getting into the wild.

I have not had a changes to get hands on with the new revision to do further testing. I know that the Companion Slack group is working on a fix for Companion

[2019-11-07 17:24] Julusian commented on #76
Hi
Yes, I am following along with Companion too (Related: https://github.com/bitfocus/companion/issues/886).
It would appear that the protocol has changed, so someone needs to spend some time with one to figure out the protocol changes then it can be fixed in both this library and Companion

[2019-11-07 21:23] Julusian commented on #76
Companion hope to have working support in about a week. Once they have done so I shall port that code back into this library. It'll be a bit hard to test, and will likely involve some trial and error (based on when how the mini support went), but hopefully it won't be very painful

[2019-11-09 05:47] mcgrealife opened #77 "method to switch profiles?"
I'm attempting to change profiles based on time of day.

[2019-11-09 14:14] Julusian commented on #77
What do you mean by profiles?
This library has no concept of profiles. Are you referring to something in the official streamdeck program?

[2019-11-09 16:56] #77 closed

[2019-11-14 10:47] Julusian commented on #76
This should work now in v3.2.0 of the library

[2019-11-14 10:47] #76 closed

[2019-11-21 08:54] haakonnessjoen commented on #11
I've seen some API docs for the custom 15 key version you can buy from infinitton (the original hardware manufacturer of the stream deck hardware). In that version there is definately USB api for changing the boot logo, etc. However I never tried to see if the api is left behind in the stream decks. But I would have thought they would have removed those parts of the api, since the stream deck has

[2019-12-14 21:18] ahmadnassri opened #79 "dealing with sleep state"
any advise on how to deal with the computer going to sleep mode / hybernate, and loosing connectivity? some examples would be great for maintaining a continous connection during computer sleep cycles.

[2019-12-14 21:33] ahmadnassri opened #80 "performance tips?"
I'm working on creating a customized management configuration and buttong mapping for my personal use, one of the challanges i've noticed is around performance / speed of rendering / drawing of buttons in comparision to other libraries / tooks _(e.g. streamdeck_ui in python)_

the workflow i'm following is failry straight forward:

1. set button images using `sharp` + `deck.renderButton` as per ex

[2019-12-14 22:28] Julusian commented on #79
This is not something I have tested myself. My main use for this library is for live production control systems, where the machines will never go to sleep so it hasn't been a concern.

[2019-12-14 22:59] Julusian commented on #80
Performance isn't something I have thought too much about as it is generally good enough, but I agree it does feel a bit sluglish when wanting rapidly filling the entire panel of the xl.

I will need to do some tests, but I suspect it could be caused by some of:
 * node-hid is blocking, which could mean usb transfer is suboptimal.
 * jpeg encoding for gen2 devices
 * inefficient buffer operations

[2019-12-15 02:25] tricora commented on #80
For one of our projects we stumbled over the same issue and did some testing. The performance is lost during buffer manipulation and jpeg encoding. With a kinda hacky approach we managed to circumvent that issue by abusing internal methods to cache hid packets sent to the device directly. Thereby we are able to update all keys near-instant:
[code]
We load every icon in advance, transform them to h

[2019-12-15 13:26] Julusian commented on #80
@ahmadnassri You got me curious with this, so I've had a bit of a look.
This is on an i7 laptop with an xl, so your experience may differ.

Profiling with `examples/fill-panel-when-pressed.js` shows that doing the node-hid writes is by far the slowest part. Sending the grass image with on my xl it spends 130ms of 220ms doing the calls to hid write, but this varies massively based on content for ge

[2019-12-15 13:35] Julusian commented on #80
@tricora That is interesting.
My testing was showing jpeg encoding taking a few ms (when using jpeg-turbo instead of jpeg-js), so not a noticable time.

I am hesistant to add a cache of any kind, as managing that cache will be hard to get right and everyone will want something different. I would be open to adding some hooks to allow for you to implement your caching without needing to abuse intern

[2019-12-17 20:36] Julusian commented on #73
If this is the problem I think, then this is fixed in latest. If not, then please provide some more info and I can take another look

[2019-12-17 20:36] #73 closed

[2019-12-26 06:50] monoxane opened #81 "node-hid issues on linux when using Stream Deck XL"
Trying to use my new XL to work on a project, it works fine on macOS on an identical code base, but fails to connect on Linux.

I have done [this](https://github.com/Lange/node-elgato-stream-deck#linux) but it did not fix the issue.

Running the following:
Linux [hostname] 4.19.0-6-amd64 #1 SMP Debian 4.19.67-2+deb10u2 (2019-11-11) x86_64 GNU/Linux
Node v13.5.0
elgato-stream-deck 3.2.0

Error:
[co

[2019-12-26 10:38] Julusian commented on #81
This is a strange issue, I generally run on Ubuntu and have not had problems like this.
All I can suggest right now is to double check you followed the udev instructions correctly and then perhaps restart your pc to ensure that it is being applied.

Otherwise, do you have anything else running which may be trying to use the usb device? I think I have found that other things can mess it up if they

[2019-12-27 05:26] monoxane commented on #81
It looks like it was something trying to bind to that specific USB port on my system even after rebooting, moving the Stream Deck XL to a different USB port works as expected.

[2019-12-27 05:26] #81 closed

[2020-01-14 09:30] chf17 opened #82 "Cancel Existing action in button ?"
How to cancel existing action on each button ?

Example, when my PC start, streamDeck official application load profile and affet icon et action on each button. But when a change with API , icon and action on buttons, on press two action is launched  : My Action and action profile

[2020-03-04 01:22] askeron opened #83 "Autoreconnect"
I would like to request a feature: Autoreconnect

Situation: If I disconnect my streamdeck, I only get the error message "[Error: could not read from HID device]". After this I cannot use the instance anymore, even if I reconnect the streamdeck.
Context: I use a notebook with a docking station and whenever I take it to another room my app and come back I have to restart my app.

It would be great

[2020-03-04 23:53] scottopherson commented on #61
@Julusian is there an example somewhere that doesn't utilize sharp?

[2020-03-05 12:23] Julusian commented on #61
@scottopherson not really. All of the examples here are based around loading in a png, so it is much simpler to use sharp.
But you simply give fillImage a raw rgb buffer of the correct size, which can come from anything, not only sharp.

[2020-03-18 11:05] ventr1x commented on #61
Well, not really as sharp does some very weird magic behind the scenes with the buffer length.
Any other, including ImageMagick, library would not give you a static buffer size back.
Sharp even returns different sizes depending on e.g. alpha channel. It returns different sizes even depending on image type.
It's an absoule mess to work with this.

I tried ImageMagick, gm, Jimp.. none of these work

[2020-03-18 11:31] Julusian commented on #61
@ventr1x I find it strange that they would give back weird length buffers for binary pixel data. And as for alpha, this library expects rgb data without an alpha channel.

I am very open to extending the api to do what you need, this simply hasn't been raised as a problem before. And I have only used sharp myself, so it has always just worked. Could you suggest how the api should look to cover wha

[2020-03-18 12:31] ventr1x commented on #61
Basically Jimp toBuffer method returns a buffer length depending on image filesize.
Using the bitmap data from Jimp returns the buffer length sharp would WITH alpha channel - even if you use jpg/rgb images. That is obviously a bug/issue with Jimp as that plugin also has no flatten() method at all.
I raised a feature request with them for it.

Sharp is inconvenient as it's over 60MB big and can't b

[2020-06-19 16:26] askeron opened #85 "Node-hid dependecy update because of prebuilds for node 14"
There is a new version of node-hid (1.3.0 instead of the currently used 1.2.0). It has a bugfix, but more important it has prebuilds for node 14, which 1.2.0 does not have. Therefor it would be really nice to have this dependency update.

[2020-06-19 16:45] askeron commented on #85
Sorry, I just saw that node-hid has a 1.3.0 release on github, but on npm it is still 1.2.0. I opened an issue (https://github.com/node-hid/node-hid/issues/377) and will reply here, when the version is finally on npm.

[2020-06-20 13:08] Julusian commented on #85
There isn't anything this library needs to do to support this. npm will install and use node-hid 1.3.0 once it is published.
You will just need to do a `npm upgrade` or something to update the child-dependencies you have in your package-lock.json

[2020-06-20 13:08] #85 closed

[2020-06-20 13:11] Julusian commented on #82
Due to the way the streamdeck works, there is nothing we can do on this.
The only way to stop this from happening is to only run one program which interacts with the streamdeck at a time

[2020-06-20 13:11] #82 closed

[2020-06-20 16:10] askeron commented on #85
Sorry, my mistake. Best Regards

[2020-08-15 13:42] idvorkin opened #86 "Error: cannot open device with path IOService:/AppleACPIPlatformExpert/PCI0@0/AppleACPIPCI/XHC1@14/XHC1@14000000/HS03@14300000/USB 2.0 Hub@14300000/AppleUSB20Hub@14300000/ AppleUSB20HubPort@14340000/USB 2.0 HUB"
I tried running the example, and get the following error on run on my  15" macbookpro.  Anything I can provide to help debug:

import { openStreamDeck } from 'elgato-stream-deck'
const myStreamDeck = openStreamDeck() // Will throw an error if no Stream Decks are connected.

myStreamDeck.on('down', keyIndex => {
	console.log('key %d down', keyIndex)
})

myStreamDeck.on('up', keyIndex => {
	console.

[2020-08-15 13:48] idvorkin commented on #86
Ah, I see this can't run at the same time as other stream deck software. In that case, I'd recommend updating the error message to indicate this.

[2020-08-28 20:44] Julusian commented on #86
This is because we are passing throw any errors thrown by the hid library directly, without any wrapping, parsing or filtering.
We could probably do something more, which will require some work to check what we can expect to receive and decide what we should do for each of them

[2020-10-13 10:50] freps opened #87 "Is it possible to switch / select a profile?"
Hey all,
I started to use the library to enhance the usability of an application and it already feels pretty good!

To optimize it even more: Is there a way to detect which profile is currently displayed or to switch to another profile? I want to switch to an empty profile to avoid conflicts with existing buttons when it starts up, and go back to the default profile when the application is shuttin

[2020-10-13 12:03] Julusian commented on #87
I think you have misunderstood how this library works and is supposed to be used.

The elgato application should not be running at the same time as using this library, as otherwise there will be conflicts as we access the usb device directly.
As such there is no knowledge, awareness or control of any 'profiles'

[2020-10-13 14:50] freps commented on #87
I have interpreted the sentences "_please note that node-elgato-stream-deck is NOT a standalone application. It is not something you download and run on its own. It is not an alternative to the official Stream Deck program provided by Elgato._" to mean that the elgato software must run in the background to operate. But thanks for clarification.

[2020-10-13 14:50] #87 closed

[2020-10-22 19:52] #6 closed

[2020-10-22 19:54] Julusian commented on #11
As of the v4.9.0 of the elgato software it is possible to change the 'screensaver'.
So this is something we can investigate doing now

[2020-11-19 21:22] askeron opened #88 "Add a paypal donation button"
If you would add a paypal donating button I could donate you some money. It is really easy to do.